@page
@model narayaniaesthetics.com.web.Pages.MedicalFacials.HydraFacialModel
@{
}


<div class="container content height-500">
    <p>
        Hydra facial gets its name from the root word hydrate—the ability to deeply moisturize and revive your skin.
    </p>
    <p>
        Hydra facial is a non-invasive and one of the best skin procedure available to give you a rejuvenated, brightening and healthy skin. It helps cleanse, exfoliate, and hydrate your skin. Hydra facial will give you antioxidant protection with the help of antioxidants and peptides that maximize your glow.
    </p>
    <p>
        Hydra facial helps you deep cleanse dirt and remove debris of dead cells. It clears off the skin-pores completely. Specialized intense moisturizing serums are applied into the skin to revive your skin and its overall health.
    </p>

    <p>
        Hydra facial procedure is not painful and many of the benefits of micro-needling can be achieved by Hydra Facial. Hydra Facials can be performed on most of the skin types, including very sensitive skins.
    </p>

    <p>
        HydraFacial treatments use hydro microdermabrasion technique to hydrate and rejuvenate your skin gently. It reduces the appearance of fine lines and large pores in your skin.
    </p>

    <p>
        According to certified and trained aesthetic cosmologist, Dr.Preeti Yadav, “the HydraFacial is the only hydra-dermabrasion procedure that uses patented technology to cleanse, extract, and hydrate.” HydraFacial is an innovative and branded procedure. Service providers have to be registered and licensed to market themselves as offering Hydra Facials.
    </p>

    <p>
        Hydra Facial takes less than one hour to complete and the effects are visible for about one week. You will immediately see results after your first session. Hydra-facial sessions are usually repeated after 1 to 4 weeks based on your skin condition.
    </p>
    <p>
        We highly customize Hydra Facial treatment for you. Our skincare professional will work with you to understand your skin type, condition and concerns, and will accordingly recommend a personalized treatment option for you. Our aesthetician can use the exfoliator device that is used in Hydra Facial, at varying intensities, and leave chemical and serums on your face for required duration. All these are done to give you best results and give you a smile after the session.
    </p>

</div>