@page
@model narayaniaesthetics.com.web.Pages.MedicalFacials.IndexModel
@{
}


<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Services</h1>
        <ul class="pull-right breadcrumb">
            <li><a asp-page="../Index">Home</a></li>
            <li><a asp-page="../Services">Services</a></li>
            <li class="active">Medical Facials</li>
        </ul>
    </div>
</div>


<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <h2 class="title-v2">Medical Facials</h2>
            <p>Our Medical Facials and Whitening procedures will give you a rejuvenated, vibrant glow and youthful complexion. We offer services like Hydra facial, Oxygen facial, Ice lift, Mesoglow, Bio-collagen, Carbon facial. Scroll down to explore all of our Medical Facial related procedures. </p>
            <br>

            <div class="margin-bottom-20">
                <a asp-page="../Contact" class="btn-u btn-brd btn-brd-hover btn-u-dark">Contact us</a>
                                <a href="tel:+919899803838" class="btn-u">Call 989.9803.838 to book an appointment</a>

            </div>

        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="assets/img/main/1-MedicalFacials.jpg" alt="">
        </div>
    </div>
</div>


<div class="bg-grey">
    <div class="container content-sm">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">Types of Medical Facials</h2>
            @*<p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>*@
        </div>

        <div class="row news-v1">
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <img class="img-responsive" src="assets/img/main/HydraFacial.jpg" alt="Hydra Facial" />
                    <h3 class="font-normal"><a asp-page="HydraFacial">Hydra Facial</a></h3>
                    <p>Aestheticians cleanse, exfoliate, extract, and deliver a variety of rejuvenating serums to your face during hydra facial sessions and bring an instant “wow factor” to brighten your skin. Hydra facial helps you deep cleanse dirt and remove debris of dead cells.  <br /> </p>
                    <center><a class="btn btn-u btn-block btn-lg rounded" asp-page="HydraFacial">View details of Hydra Facial</a></center>
                    <br />
                </div>
            </div>

            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <img class="img-responsive" src="assets/img/main/Oxygen-facial.jpg" alt="Oxygen Facial" />
                    <h3 class="font-normal"><a asp-page="Oxygen-Facial">Oxygen Facial</a></h3>
                    <p>Oxygen facial helps improve blood circulation into the skin. This helps getting rid of acne and pimples faster. Oxygen facial offers short term but visually satisfying enhancement to your skin. Repeated treatments produce long-lasting results.</p>
                    <center><a class="btn btn-u btn-block btn-lg rounded" asp-page="Oxygen-Facial">View details of Oxygen Facial</a></center>
                    <br />

                </div>
            </div>

            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <img class="img-responsive" src="assets/img/main/ice-lift.jpg" alt="Ice Lift" />
                    <h3 class="font-normal"><a asp-page="Ice-Lift">Ice lift</a></h3>
                    <p>Ice lift procedure involves chilling the skin that causes contraction of the blood vessels, increased blood circulation, and increased oxygen flow to the skin. The procedure soothes any inflammation due to pimple, acne or any other issues. </p>
                    <center><a class="btn btn-u btn-block btn-lg rounded" asp-page="Ice-Lift">View details of Ice lift </a></center>
                    <br />

                </div>
            </div>

            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <img class="img-responsive" src="assets/img/main/mesoglow.jpg" alt="Mesoglow" />
                    <h3 class="font-normal"><a asp-page="Mesoglow">Mesoglow</a></h3>
                    <p>
                        The Mesoglow procedure (a type of Mesotherapy) involves the infusion of vitamins and antioxidants to give nourishment to the skin and help in decreasing pigment in target areas with the help of transdermal injections.
                        The antioxidants and vitamins in the injections help to stimulate the cells to produce collagen and elastin.
                    </p>
                    <br />
                    <br />
                    <br />
                    <center><a class="btn btn-u btn-block btn-lg rounded" asp-page="Mesoglow">View details of Mesoglow </a></center>
                    <br />

                </div>
            </div>

            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <img class="img-responsive" src="assets/img/main/Bio-Collagen.jpg" alt="Bio-Collagen" />
                    <h3 class="font-normal"><a asp-page="Bio-Collagen">Bio-Collagen</a></h3>
                    <p>Collagen is the most abundant protein in the body that makes skin, muscles and bones.   Healthy collagen levels contribute to good and elastic skin. As people get older, their collagen levels fall, and collagen become fibrous. Bio-Collagen treatment includes treating your cleansed skin with Collagen based serums, creams and prescribing you Collagen based dietary supplements. </p>
                    <br />
                    <br />

                    <center><a class="btn btn-u btn-block btn-lg rounded" asp-page="Bio-Collagen">View details of Bio-Collagen </a></center>
                    <br />

                </div>
            </div>
        </div>


    </div>
</div>