@page
@model narayaniaesthetics.com.web.Pages.MedicalFacials.Oxygen_FacialModel
@{
}


<link rel="stylesheet" href="../../assets/css/pages/page_faq1.css">

<style>
    .headline h1 {
        margin: 0 0 -2px 0;
        padding-bottom: 5px;
        display: inline-block;
        border-bottom: 2px solid #72c02c;
    }
</style>

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Services</h1>
        <ul class="pull-right breadcrumb">
            <li><a asp-page="../Index">Home</a></li>
            <li><a asp-page="../Services">Services</a></li>
            <li><a asp-page="Index">Medical Facials</a></li>
            <li class="active">Oxygen Facial</li>
        </ul>
    </div>
</div>

<div class="container content height-500">

    <div class="headline"><h1>Oxygen Facial - for your glowing skin</h1></div>

    <div class="row">
        <div class="col-md-6">
            <p>Oxygen facial helps improve blood circulation into the skin. This helps getting rid of acne and pimples faster. Oxygen facial offers short term but visually satisfying enhancement to your skin. Repeated treatments produce long-lasting results.
            </p>
            <p>Oxygen facial is a type of Intraceuticals treatments that is much popular among celebrities worldwide. Oxygen facial improves blood circulation in the skin, promotes collagen production and reduces the appearance of wrinkles and fine lines.
            </p>

            <blockquote class="hero box-shadow shadow-effect-4">
								 <p>No chemicals are injected into the skin during Oxygen facial and is considered a non-medical procedure that is conducted by an aesthetician. During the procedure a stream of high pressurized oxygen is delivered to the skin’s surface using a wand.
            </p>
							</blockquote>
            

            <p>Usually the procedure lasts for half an hour to an hour or more based on your skin type and need. Unlike other invasive or chemically intensive procedures, there is no healing time required after the oxygen facial. You can even apply makeup just after the session if required.
            </p>

            <p>Most of the people report that their skin looks healthy and bright after the procedure. Oxygen facials can be done once in a month or more frequently if needed.
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="../../assets/img/main/Oxygen-facial.jpg" alt="Oxygen Facial Procedure Photo" />
        </div>

    </div>

    <br />
    <br />





    <div class="tag-box tag-box-v1">
        <div class="row">
            <div class="col-md-10">
                <h4>
                    According to certified and trained aesthetic cosmologist, Dr.Preeti Yadav:

                    <br />
                    <br />
                   OXYGEN is also a necessity for your skin health as it is for life. Imbalance in oil secretion from the glands under your skin leads to acne, blackhead, whitehead, pimples that leave spots and scars. All these lead to uneven skin tone and tanned skin. Oxygen facial is a perfect treatment to balance the tone and texture of skin by clearing the clogged pores. It also regulates the oil secretion inside your skin.  
                    <br />

                </h4>
            </div>
            <div class="col-md-2">
                <img class="img-responsive" src="../../assets/img/team/1-DR-PREETI-YADAV-MDS-FMC3.jpg" alt="DR-PREETI-YADAV-MDS-FMC3" />

            </div>

        </div>


    </div>
    <p>
        Oxygen Facial takes less than one hour to complete and the effects are visible for about one week. You will immediately see results after your first session. Hydra-facial sessions are usually repeated after 1 to 4 weeks based on your skin condition.
    </p>
    <p>
        We highly customize Oxygen Facial treatment for you. Our skincare professional will work with you to understand your skin type, condition and concerns, and will accordingly recommend a personalized treatment option for you. Our aesthetician can use the exfoliator device that is used in Oxygen Facial, at varying intensities, and leave chemical and serums on your face for required duration. All these are done to give you best results and give you a smile after the session.
    </p>

    <br />
    <br />
    <section>

        <h2>Testimonials of patients for Oxygen Facial</h2>
        <p>Here are some of the experiences shared by our patients who went through the Oxygen Facial treatment:</p>
        <div class="row">
            <div class="col-sm-6">
                <div class="testimonials-v4 md-margin-bottom-50">
                    <div class="testimonials-v4-in">
                        <p>
                           I visited with complaint of uneven skin tone due to pimples I have been facing from years. Dr Preeti suggested Oxygen Facial that seemed to easiest and simplest procedure to me and I went for it. I am happy after the two sittings. I can see the difference in my face. Each  session was quick and I did not have to wait after the pre-reserved appointment.
                        </p>
                    </div>
                    @*<img class="rounded-x" src="assets/img/testimonials/saroj-singh.png" alt="thumb">*@
                    <span class="testimonials-author">
                        Prachi Khanna<br>
                    </span>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="testimonials-v4">
                    <div class="testimonials-v4-in">
                        <p>
                            I was advised oxygen facial from one of my friends as she found it quite effective. I had many questions for the procedure and Dr..Preeti answered all the questions patiently. I liked her attitude and professionalism.
                            <br />
                            <br />
                             I recommend Dr. Preeti’s Narayani’s clinic based on my personal experience.   
                        </p>
                    </div>
                    @*<img class="rounded-x" src="assets/img/testimonials/sapna.png" alt="thumb">*@
                    <span class="testimonials-author">
                       Anubhuti Yadav<br>
                    </span>
                </div>
            </div>


        </div>

        <br />
        <br />
        @(await Html.RenderComponentAsync<narayaniaesthetics.com.web.Pages.Shared.DiscountComponent>( RenderMode.ServerPrerendered ))

        <div class="row">

            <div class="col-md-12">
                <!-- General Questions -->
                <div class="headline"><h2>Frequently asked questions about Oxygen Facial</h2></div>
                <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
                                    1. What is an oxygen facial?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true" style="">
                            <div class="panel-body">
                                Oxygen facial is a non-invasive beauty procedure done by aesthetician to infuse highly-concentrated oxygen molecules in the outer layer of your skin, also known as the epidermis. 
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false">
                                    2. What are the benefits of getting an oxygen facial done?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <p>Oxygen facial:</p>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-check color-green"></i>Give radiance to your skin</li>
                                    <li><i class="fa fa-check color-green"></i>Boosts collagen production</li>
                                    <li><i class="fa fa-check color-green"></i>Detoxifies the skin</li>
                                    <li><i class="fa fa-check color-green"></i>Helps in getting rid of acne</li>
                                    <li><i class="fa fa-check color-green"></i>Makes your skin even toned</li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false">
                                    3. Does Oxygen facial have any side effect?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                <p>Oxygen facial procedure does not involve any pain or side effects. It’s a quick and nan-invasive non-chemical procedure. Oxygen facial is usually considered the best option for those with the sensitive skin because this procedure does not have any side-effects.</p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false">
                                    4. How an oxygen facial procedure is performed?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                Usually it is a three step process:
                                <ol>
                                    <li>The light treatment – A stick-like device is used to infuse high pressure oxygen into your skin </li>
                                    <li>The serum treatment – Serum tonic that is composed of vitamins, minerals, hyaluronic acid and antioxidants are used to treat your skin </li>
                                    <li>Massage – In this last step of the procedure your skin is massaged using creams and lotions to make it smooth and brighten it. </li>

                                </ol>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false">
                                    5. How does Oxygen Facial Work?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                Oxygen encourages healthy skin formation and collogen production. It hydrates your skin immensely.  A healthy boost of oxygen, given during the procedure helps make your skin's healthy and keep it looking bright.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false">
                                    6. How often do I need Oxygen facial?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                Just after the first session of Oxygen facial, you will see an identifiable difference in your skin. You may need additional session if needed based on your skin condition. Fortnightly or monthly follow-up sessions will improve your skin further.  
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false">
                                    7. How does Oxygen Facial Work?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                Oxygen encourages healthy skin formation and collogen production. It hydrates your skin immensely.  A healthy boost of oxygen, given during the procedure helps make your skin's healthy and keep it looking bright.
                            </div>
                        </div>
                    </div>
                </div><!--/acc-v1-->
                <!-- End General Questions -->
            </div>

        </div>

        <div class="purchase">
            <div class="container overflow-h">
                <div class="row">
                    <div class="col-md-6 animated fadeInLeft">
                        <span>Want to know more about Oxygen facial?</span>
                        <p>
                            Do you have more questions about the hydra facial procedure or you want to know if this treatment option is suitable for you? Visit <a asp-page="../Contact">Narayani’s Aesthetics Clinic</a>  today or <br />

                        </p>
                        <span style="font-size:22px"> call us at <a href="tel:+919899803838">989.9803.838</a></span>
                    </div>
                    <div class="col-md-6 btn-buy animated fadeInRight">
                         
                                <a href="tel:+919899803838" class="btn-u">Call 989.9803.838 to book an appointment</a>

                        <a class="btn-u btn-u-blue btn-u-lg" href="/Contact"><i class="fa fa-hand-pointer-o"></i> Drop an inquiry</a>

                    </div>
                </div>
            </div>
        </div>
    </section>


</div>