@page
@model narayaniaesthetics.com.web.Pages.AntiAgingProcedures.Botox_FillersModel
@{
}


<link rel="stylesheet" href="../../assets/css/pages/page_faq1.css">

<style>
    .headline h1 {
        margin: 0 0 -2px 0;
        padding-bottom: 5px;
        display: inline-block;
        border-bottom: 2px solid #72c02c;
    }
</style>

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Services</h1>
        <ul class="pull-right breadcrumb">
            <li><a asp-page="../Index">Home</a></li>
            <li><a asp-page="../Services">Services</a></li>
            <li><a asp-page="Index">Antiaging procedures</a></li>
            <li class="active">Botox</li>
        </ul>
    </div>
</div>

<div class="container content height-500">

    <div class="headline"><h1>Botox</h1></div>

    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="../../assets/img/main/2-Anti-agingProcedures.jpg" alt="Botox Procedure Photo" />
        </div>



        <div class="col-md-6">
            <p>
                Botox injection helps minimize the appearance of lines and wrinkles. Dermal fillers contain ingredients that add fullness to areas that have thinned due to aging. 
            </p>
            <p>
                There are four FDA-approved neurotoxins available in the U.S.: Botox, Dysport, Xeomin, and Jeauveau. Botox or any neurotoxin works by temporarily weakening or paralyzing the muscles.
            </p>
            <p>
Dermal fillers contain ingredients that add fullness to areas that have thinned due to aging. This thinning is common in the cheeks, lips, and around the mouth.
            </p>

            <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
                <p>
                    Botox works by blocking nerve signals in the muscles where it is injected. When those nerve signals are interrupted, the affected muscle is temporarily paralyzed or frozen. Without movement of these selected muscles in the face, certain wrinkles may be softened, reduced, or even removed.
                </p>
            </div>



          

            <p>
                The most likely side effects of either Botox or filler are bruising and pain at the injection site—the same as any injection, not exactly a toxic reaction.
            </p>
        </div>
        
    </div>

    <br />
    <br />





    <div class="tag-box tag-box-v1">
        <div class="row">
            <div class="col-md-2">
                <img class="img-responsive" src="../../assets/img/team/1-DR-PREETI-YADAV-MDS-FMC3.jpg" alt="DR-PREETI-YADAV-MDS-FMC3" />

            </div>
            <div class="col-md-10">
                <h4>
                    According to certified and trained aesthetic cosmologist, Dr.Preeti Yadav, 
                    <p>Botox is not a permanent treatment. Repeated treatments are necessary for continued wrinkle-reducing effects. Most people find that the muscle-relaxing effect of Botox lasts for 3 to 4 months.</p>
                    <br />
                    <br />
                </h4>
            </div>

        </div>


    </div>
       <p>
                Botox will not work on fine lines and wrinkles caused by sagging or loss of plumpness in the face. These are known as static wrinkles. Static wrinkles include lines in the cheeks, neck, and jowl areas.
            </p> 

  
            <p>
                Botox only works on wrinkles that are caused by muscle movement. These are known as dynamic wrinkles, and are often called “expression lines.”
            </p>
        

    <br />
    <br />
     @(await Html.RenderComponentAsync<narayaniaesthetics.com.web.Pages.Shared.DiscountComponent>( RenderMode.ServerPrerendered ))

    <section>

        <h2>Testimonials of patients for Narayani's Aesthetics</h2>
        <p>Here are some of the experiences shared by our patients who availed our treatment:</p>
        <div class="row">


            <div class="col-sm-6">
               

                <div class="testimonials-v4 md-margin-bottom-50">
                    <div class="testimonials-v4-in">
                        <p>
                            I recently visited Narayani's' aesthetics for my problems related to dull, and pigmented skin. I really got impressed by the knowledge and the way the suitable procedure was explained to me by Dr Preeti. <br /> <br />
                            I needed to go through a few sittings of the procedures but I am happy with the results. I also found that the cost of the procedure is not very high as compared to other cosmologists I visited earlier.
                        </p>
                    </div>
                    @*<img class="rounded-x" src="assets/img/testimonials/saroj-singh.png" alt="thumb">*@
                    <span class="testimonials-author">
                        Madhu Varshney<br>
                    </span>
                </div>


            </div>

            <div class="col-sm-6">
                <div class="testimonials-v4">
                    <div class="testimonials-v4-in">
                        <p>
                            Dr. Preeti delighted me with her expert advice for my skin problems I was facing from many years. After examining my skin in the first session she suggested my treatment plan.
                            <br />
                            <br />
                            I was skeptical initially, but I got the procedures done. After two sessions I got very good results. The process was almost painless. I will recommend Dr. Preeti without a second thought.
                        </p>
                    </div>
                    @*<img class="rounded-x" src="assets/img/testimonials/sapna.png" alt="thumb">*@
                    <span class="testimonials-author">
                        Akanksha Bharat<br>
                    </span>
                </div>
            </div>

			<a class="btn btn-u btn-u-aqua btn-u-lg margin-top-20 margin-left-10" target="_blank" href="https://goo.gl/maps/MffJUxNTq7YDfG9K6">View all of our Google Reviews</a>  

        </div>

       
        <br />
        <br />
        @*<div class="row">

            <div class="col-md-12">
                <!-- General Questions -->
                <div class="headline"><h2>Frequently asked questions about Hydra Facial</h2></div>
                <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
                                    1. Which skin problems can be treated by Hydra Facial?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true" style="">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false">
                                    2. I have a very sensitive skin. Can I go for Hydra Facial?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                                    <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                                    <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                                    <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false">
                                    3. How much time it takes in a Hydra Facial session? How many session will I require?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird.</p>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                                    <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false">
                                    4. Can I wear makeup or go out after the sessions?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                Olif moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false">
                                    5. How long will the effect of Hydra Facial stay?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                <p>Keffiyeh anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                                    <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                                    <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                                    <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                                    <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                                    <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false">
                                    6. Is Hydra Facial Safe?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                Helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Brunch sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false">
                                    7. Is there any side-effect of Hydra Facial?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                            </div>
                        </div>
                    </div>
                </div><!--/acc-v1-->
                <!-- End General Questions -->
            </div>

        </div>*@

        <div class="purchase">
            <div class="container overflow-h">
                <div class="row">
                    <div class="col-md-8 animated fadeInLeft">
                        <span>Want to know more about this procedure?</span>
                        <p>
                            Do you have questions or you want to know if this treatment option is suitable for you? Visit <a asp-page="../Contact">Narayani’s Aesthetics Clinic</a>  today or <br />

                        </p>
                        <span style="font-size:22px"> call us at <a href="tel:+919899803838">989.9803.838</a></span>
                    </div>
                    <div class="col-md-4 btn-buy animated fadeInRight">
                        <a class="btn-u btn-u-blue btn-u-lg" href="/Contact"><i class="fa fa-hand-pointer-o"></i> Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>