@page
@model narayaniaesthetics.com.web.Pages.AntiAgingProcedure.IndexModel
@{
}


<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Services</h1>
        <ul class="pull-right breadcrumb">
            <li><a asp-page="../Index">Home</a></li>
            <li><a asp-page="../Services">Services</a></li>
            <li class="active">Anti-aging Procedures</li>
        </ul>
    </div>
</div>


<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <h2 class="title-v2">Anti-aging Procedures</h2>
            <p>
                Our specialized anti-aging procedures help rejuvenate the appearance of aging and damaged skin. It gently leaves a tight and bright skin. You can get rid of fine lines & wrinkles. Explore our services like Botox & fillers, RF Skin Lift, Mesotherapy, Thread lifts & many more.

            </p>
            <br>
            <div class="margin-bottom-20">
                <a asp-page="../Contact" class="btn-u btn-brd btn-brd-hover btn-u-dark">Contact us</a>
                <a href="tel:+919899803838" class="btn-u">Call now to book an appointment</a>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="../assets/img/banners/1-medi-facial.jpg" alt="">
        </div>
    </div>
</div>


<div class="bg-grey">
    <div class="container content-sm">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">Types of Anti-aging Procedures</h2>
            @*<p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>*@
        </div>

        <div class="row news-v1">
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <img class="img-responsive" src="../assets/img/main/2-Anti-agingProcedures.jpg" alt="Botox & fillers" />
                    <h3 class="font-normal"><a asp-page="Botox-Fillers">Botox & fillers</a></h3>
                    <p>
                        Have you ever wondered what is Botox and how does it work?<br />
                        Botox is a drug used for cosmetic purposes for years, for treating wrinkles caused by muscle movement. Botox blocks the nerve signals that cause muscles to contract, smoothing the lines and wrinkles caused by repetitive facial movements.

                        <center><a class="btn btn-info btn-block btn-lg rounded" asp-page="Botox-Fillers">View more about Botox </a></center>
                        <br />

                </div>
            </div>



            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <img class="img-responsive" src="../assets/img/main/rf-skin-left.jpg" alt="RF Skin Lift" />
                    <h3 class="font-normal"><a asp-page="RFSkin-Lift">RF Skin Lift</a></h3>
                    <p>
                        Like any form of energy, RF has the capacity to produce heat and heating the skin’s deeper layers to induce new collagen and elastin production. This helps skin become firmer, thicker and more youthful-looking.
                        Middle-aged women experience skin loosening as result of early signs of aging. RF skin tightening treatment is ideal for them.
                         <center><a class="btn btn-info btn-block btn-lg rounded" asp-page="RFSkin-Lift">View more about RF Skin Lift </a></center>

                        <br />
                </div>
            </div>

            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <img class="img-responsive" src="../assets/img/main/mesoglow.jpg" alt="Mesotherapy" />
                    <h3 class="font-normal"><a asp-page="Mesotherapy">Mesotherapy</a></h3>
                    <p>
                        Meso therapy treatment helps to improve texture, pores, pigmentation as well as helps with providing hydration to the skin. Mesoglow is a combination of medical vitamins, innovative energizing radiance and reverse-aging nutrients, which is delivered into the skin. Mesotherapy is suitable for all skin types especially acne-prone skin
                         <center><a class="btn btn-info btn-block btn-lg rounded" asp-page="Mesotherapy">View more about Mesotherapy</a></center>

                        <br />
                </div>
            </div>

            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <img class="img-responsive" src="../assets/img/main/face-thread-lift.jpg" alt="Thread Lifts" />
                    <h3 class="font-normal"><a asp-page="Thread-Lifts">Thread Lifts</a></h3>
                    <p>Thread lift is a procedure in which dissolvable biodegradable polyester thread (suture) to used to tighten and lift your skin.  A thread lift can be used in most parts of your face and neck that are experiencing signs of aging. The cheeks, jaw, neck, and eyes are mostly treated areas using thread lift procedure. Jowls and drooping cheeks can easily be treated by thread lift.
                     <center><a class="btn btn-info btn-block btn-lg rounded" asp-page="Thread-Lifts">View more about Thread Lifts</a></center>

                    <br />
                </div>
            </div>


        </div>


    </div>
</div>