 
@code {

}

<div class="call-action-v1 call-action-v1-boxed bg-color-primary margin-bottom-40 margin-top-40">
    <div class="call-action-v1-box">
        <div class="call-action-v1-in">
            <h3 class="color-light" style="font-size:32px"><i class="icon-custom icon-lg rounded-x icon-bg-u icon-line icon-present"></i> Claim your 20% discount today</h3>
            <p class="color-light">Call now with your special coupon code 'Q20NDF'' to avail 20% discount under our special promotion campaign.</p>
        </div>
        <div class="call-action-v1-in inner-btn page-scroll">
            <a href="tel:+919899803838" class="btn-u btn-u-lg btn-brd btn-brd-width-2 btn-brd-hover btn-u-light btn-u-block">Call now: 989.9803.838</a>

        </div>
    </div>
</div>