@*@page "/services1"
*@ 
 

<div class="container content-sm">
    <div class="headline-center margin-bottom-60">
        <h2>Services Offered</h2>
        <p>Avail world class  <a href="/Services">cosmetology and aesthetics services</a> at affordable rates. Satisfaction guaranteed!</p>
        <p>Ask your cosmetologist which procedure is best for you!</p>
    </div>

    <ul class="list-unstyled row portfolio-box">
        @*Medical Facials*@
        <li class="col-sm-4">
            <a href="MedicalFacials/Index" title="Medical Facials" data-rel="gallery" class="thumbnail fancybox">
                <img alt="Medical Facials" src="assets/img/main/1-MedicalFacials.jpg" class="full-width img-responsive">
                <span class="portfolio-box-in rounded-x">
                    <i class="icon-magnifier-add"></i>
                </span>
            </a>
            <div class="headline-left margin-bottom-10">
                <a href="MedicalFacials/Index"><h3 class="headline-brd">Medical Facials</h3></a>
            </div>
            <small class="project-tag"><i class="fa fa-tag"></i><a href="#">Hydra facial</a>, <a href="#">Oxygen facial</a>, <a href="#">Ice lift</a>, <a href="#">Mesoglow</a>, <a href="#">Bio-collagen</a></small>
            <p>Our Medical Facials and Whitening procedures will give you a rejuvenated, vibrant glow and youthful complexion. We offer services like Hydra facial, Oxygen facial, Ice lift, Mesoglow, Bio-collagen, Carbon facial. Explore all of our Medical Facial related services. </p>
            <center><a class="btn btn-u btn-block btn-lg rounded" href="MedicalFacials/Index">View all Medical Facials </a></center>
        </li>
        @*Anti-aging Procedures*@
        <li class="col-sm-4">
            <a href="AntiAgingProcedures/Index" title="Anti-aging Procedures" data-rel="gallery" class="thumbnail fancybox">
                <img alt="Anti-aging Procedures" src="assets/img/main/2-Anti-agingProcedures.jpg" class="full-width img-responsive">
                <span class="portfolio-box-in rounded-x">
                    <i class="icon-magnifier-add"></i>
                </span>
            </a>
            <div class="headline-left margin-bottom-10">
                <a href="AntiAgingProcedures/Index">
                    <h3 class="headline-brd">Anti-aging Procedures</h3>
                </a>
            </div>
            <small class="project-tag"><i class="fa fa-tag"></i><a href="#">Botox & fillers</a>, <a href="#">RF Skin Lift</a>, <a href="#">Mesotherapy</a>, <a href="#">Thread lifts</a></small>
            <p>Our specialized anti-aging procedures help rejuvenate the appearance of aging and damaged skin. It gently leaves a tight and bright skin. You can get rid of fine lines & wrinkles. Explore our services like Botox & fillers, RF Skin Lift, Mesotherapy, Thread lifts & many more. </p>
            <center><a class="btn btn-u btn-block btn-lg rounded" href="AntiAgingProcedures/Index">View all Anti-aging Procedures</a></center>
        </li>

        @*Derma Peel*@
        <li class="col-sm-4">
            <a href="DermaPeel/Index" title="Derma Peel" data-rel="gallery" class="thumbnail fancybox">
                <img alt="" src="assets/img/main/3-DermaPeel.jpg" class="full-width img-responsive">
                <span class="portfolio-box-in rounded-x">
                    <i class="icon-magnifier-add"></i>
                </span>
            </a>
            <div class="headline-left margin-bottom-10">
                <a href="DermaPeel/Index">
                    <h3 class="headline-brd">Derma Peel</h3>
                </a>
            </div>
            <small class="project-tag"><i class="fa fa-tag"></i><a href="#">InstaGlow</a>, <a href="#">Radiance</a>, <a href="#">Pigment Reverse</a>, <a href="#">Anti-acne</a></small>
            <p>Are you worried for Sun Spots, Acne scars, Dull or aging complexion? The appropriate Derma Peel like InstaGlow, Radiance, Pigment Reverse, or Anti-acne delivers real results for all skin types. Our medical grade peels offer long-lasting results and give the skin a beautiful glow.</p>
            <center><a class="btn btn-u btn-block btn-lg rounded" href="DermaPeel/Index">View all DermaPeel Procedures</a></center>

        </li>

        @*Skin Rejuvenation*@
        <li class="col-sm-4">
            <a href="SkinRejuvenation/Index" title="Skin Rejuvenation" data-rel="gallery" class="thumbnail fancybox">
                <img alt="" src="assets/img/main/4-SkinRejuvenation.jpg" class="full-width img-responsive">
                <span class="portfolio-box-in rounded-x">
                    <i class="icon-magnifier-add"></i>
                </span>
            </a>
            <div class="headline-left margin-bottom-10">
                <a href="SkinRejuvenation/Index">
                    <h3 class="headline-brd">Skin Rejuvenation</h3>
                </a>
            </div>
            <small class="project-tag"><i class="fa fa-tag"></i><a href="#">Micro-needling</a>, <a href="#">Microdermabrasion</a>, <a href="#">Carbon laser toning</a></small>
            <p>Due collagen deposit skin loses structure, have less fat, and begin to appear wrinkled. Avail our skin rejuvenation procedures like Micro-needling, Microdermabrasion, No-needle Mesotherapy, Carbon laser toning and many more to revive your skin and become young again. </p>
            <center><a class="btn btn-u btn-block btn-lg rounded" href="SkinRejuvenation/Index">View all Skin Rejuvenation Procedures</a></center>

        </li>

        @*Hair Restoration*@
        <li class="col-sm-4">
            <a href="HairRestoration/Index" title="Hair Restoration" data-rel="gallery" class="thumbnail fancybox">
                <img alt="" src="assets/img/main/5-HairRestoration.jpg" class="full-width img-responsive">
                <span class="portfolio-box-in rounded-x">
                    <i class="icon-magnifier-add"></i>
                </span>
            </a>
            <div class="headline-left margin-bottom-10">
                <a href="HairRestoration/Index">
                    <h3 class="headline-brd">Hair Restoration</h3>
                </a>
            </div>
            <small class="project-tag"><i class="fa fa-tag"></i><a href="#">Anti-hair loss therapy</a>, <a href="#">PRP Therapy</a>, <a href="#">Hair Transplantation</a></small>
            <p>Worried for your hair loss? Our hair restoration programs like Anti-hair loss therapy, Stem Cell Therapy, PRP Therapy, Hair Transplantation, Follicular Unit Extraction will give style and confidence back to you. Hair restoration can give you permanent, natural-looking results.</p>
            <center><a class="btn btn-u btn-block btn-lg rounded" href="HairRestoration/Index">View all Hair Restoration Treatments</a></center>

        </li>

        @*Permanent Makeup*@
        <li class="col-sm-4">
            <a href="PermanentMakeup/Index" title="Permanent Makeup" data-rel="gallery" class="thumbnail fancybox">
                <img alt="" src="assets/img/main/6-PermanentMakeup.jpg" class="full-width img-responsive">
                <span class="portfolio-box-in rounded-x">
                    <i class="icon-magnifier-add"></i>
                </span>
            </a>
            <div class="headline-left margin-bottom-10">
                <a href="PermanentMakeup/Index">
                    <h3 class="headline-brd">Permanent Makeup</h3>
                </a>
            </div>
            <small class="project-tag"><i class="fa fa-tag"></i><a href="#">Korean BB Glow</a>, <a href="#">Perm Lip blush</a>, <a href="#">Perm Brows</a></small>
            <p>Permanent makeup is achieved by applying natural pigments into the dermal layer of skin. This procedure is medically recognized & is considered 100% safe. Our procedures include Korean BB Glow, Perm Lip blush, Perm Brows and many more that will give you beautiful complexion.</p>
            <center><a class="btn btn-u btn-block btn-lg rounded" href="PermanentMakeup/Index">View all Permanent Makeup Treatments</a></center>

        </li>

    </ul>
</div>
