@page
@model narayaniaesthetics.com.web.Pages.SkinRejuvenation.IndexModel
@{
}


<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Services</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Services</li>
        </ul>
    </div>
</div>


<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <h2 class="title-v2">Skin Rejuvenation</h2>
            <p>Exposure to Sun’s UV rays, skin disorders, aging and sometimes heredity can all contribute to skin problems that may make you worried. Your skin may lose your natural skin-tone, get discoloured, feel less firm and lose with natural ageing. </p>
            <p>            <p>A range of aesthetics procedures are available today like Micro Needling, Microdermabrasion, and Carbon Laser Toning to name a few that may help in your different skin conditions.</p>
 <br>
            <div class="margin-bottom-20">
                <a asp-page="../Contact" class="btn-u btn-brd btn-brd-hover btn-u-dark">Contact us</a>
                                                <a href="tel:+919899803838" class="btn-u">Call now to book an appointment</a>

            </div>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/assets/img/main/4-SkinRejuvenation.jpg" alt="Skin Rejuvenation">
        </div>
    </div>
</div>


<div class="bg-grey">
			<div class="container content-sm">
				<div class="text-center margin-bottom-50">
					<h2 class="title-v2 title-center">Types of Skin Rejuvenation Procedures</h2>
					@*<p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>*@
				</div>

				<div class="row news-v1">
					<div class="col-md-4 md-margin-bottom-40">
						<div class="news-v1-in bg-color-white">
							<img class="img-responsive" src="../assets/img/main/Micro-Needling.jpg" alt="Micro Needling" />
							<h3 class="font-normal"><a asp-page="Micro-Needling" >Micro Needling</a></h3>
							<p>Microneedling is a cosmetic procedure that involves pricking your skin with tiny sterilized needles and stimulating collagen production. The small wounds cause your body to make more collagen and elastin, which heal your skin and help you look younger. The goal of the Microneedling procedure is to kick-start your body’s naturally healing process. 
							<br />
							<br />
						</div>
					</div>
				
				

					<div class="col-md-4 md-margin-bottom-40">
						<div class="news-v1-in bg-color-white">
							<img class="img-responsive" src="../assets/img/main/Microdermabrasion.jpg" alt="Microdermabrasion" />
							<h3 class="font-normal"><a asp-page="Microdermabrasion" >Microdermabrasion</a></h3>
							<p>Microdermabrasion is a cosmetic procedure in which skin care specialist will remove the top layer of skin with a small hand-held device. This procedure exfoliates the skin, reduce signs of aging, and make the skin appear more even. The procedure is considered safe for all skin types and ages.</p>
							<br />
							<br />
						</div>
					</div>

						

					
				</div>

					
			</div>
		</div>
