@page
@model narayaniaesthetics.com.web.Pages.AboutModel
@{
}

	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
	<link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">


<div class="breadcrumbs-v3 img-v1 text-center">
    <div class="container">
        <h1>About Us</h1>
        <p>Narayani's Aesthetics</p>
    </div>
</div>


<div class="title-box-v2">
    <br />
    <h2>world class cosmetology and aesthetics services  <span class="color-green">at affordable rates</span></h2>
    <p style="padding:0px 20px">Narayani’s Aesthetics is the leading aesthetics and cosmetology centre in Gurgaon that provides world-class services with the help of ultra-modern technologies. The facility is run by award-winning aesthetic cosmetologist Dr. Preeti Yadav.</p>
</div>

<div class="container-fluid">
    <!-- Team Blcoks -->
    <div class="row team-v7 no-gutter equal-height-columns">
        <div class="col-md-6 team-arrow-right">
            <div class="dp-table">
                <div class="equal-height-column dp-table-cell team-v7-in" style="height: 459px;">
                    <span class="team-v7-name">Dr. Preeti Yadav</span>
                    <span class="team-v7-position">Aesthetic Cosmetologist</span>
                    <p>
                        Dr. Preeti Yadav, is a MDS and trained aesthetic cosmetologist,<span class="label rounded-2x label-info"> FELLOWSHIP IN MEDICAL COSMETOLOGY  (FMC) from ILAMED</span>.
						<br />Your friendly, and experienced aesthetic cosmetologist available to serve you.
                    </p>
                    <ul class="list-inline social-icons-v1">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 team-v7-img">
            <img class="img-responsive full-width equal-height-column" src="assets/img/team/Dr-Preeti-Yadav-Cosmetologist.jpg" alt="" style="height: 459px;">
        </div>
    </div>
    <!-- End Team Blcoks -->




</div>

<div class="parallax-quote parallaxBg" style="background-position: 50% -304px;">
    <div class="container">
        <div class="parallax-quote-in">

            <p> Your <span class="color-green">skin has a memory</span>. In, few years from now, your skin will show the results of how you treated your skin today.<br> So, <span class="color-green">treat it kindly and gently</span>. Investing in your skin today will give you a <span class="color-green">long-lasting healthy skin and confidence</span>.    </p>

            <small>- Dr. preeti Yadav -</small>
        </div>
    </div>
</div>



<div class="cube-portfolio container margin-bottom-60">
	<br />
	<br />

	<div class="headline-center margin-bottom-60">
        <h2>See our facility virtually</h2>
        <p>Avail world class  <a href="/Services">cosmetology and aesthetics services</a> at our facility in Gurugram. !</p>
    </div>

				<div class="content-xs">
					@*<div id="filters-container" class="cbp-l-filters-text content-xs">
						<div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> |
						<div data-filter=".identity" class="cbp-filter-item"> Identity </div> |
						<div data-filter=".web-design" class="cbp-filter-item"> Web Design </div> |
						<div data-filter=".graphic" class="cbp-filter-item"> Graphic </div> |
						<div data-filter=".logos" class="cbp-filter-item"> Logo </div>
					</div><!--/end Filters Container-->*@
				</div>

				<div id="grid-container" class="cbp-l-grid-agency cbp cbp-caption-active cbp-caption-zoom cbp-ready" style="height: 728px;"><div class="cbp-wrapper-outer"><div class="cbp-wrapper">
					<div class="cbp-item graphic" style="width: 560px; left: 0px; top: 0px;"><div class="cbp-item-wrapper">
						<div class="cbp-caption">
							<div class="cbp-caption-defaultWrap">
								<img src="assets/img/main/narayani-aesthetics-infra1.jpg" alt="">
							</div>
							<div class="cbp-caption-activeWrap white-transparent-hover">
								<div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
										<ul class="link-captions">
											<li><a href="assets/img/main/narayani-aesthetics-infra1.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
										</ul>
										<div class="cbp-title-dark">
											<div class="cbp-l-grid-agency-title">Our waiting lounge</div>
											<div class="cbp-l-grid-agency-desc">Narayani's Aesthetics</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div></div>
					<div class="cbp-item identity logos" style="width: 560px; left: 580px; top: 0px;"><div class="cbp-item-wrapper">
						<div class="cbp-caption">
							<div class="cbp-caption-defaultWrap">
								<img src="assets/img/main/narayani-aesthetics-infra2.jpg" alt="">
							</div>
							<div class="cbp-caption-activeWrap dark-transparent-hover">
								<div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
										<ul class="link-captions">
											<li><a href="assets/img/main/narayani-aesthetics-infra2.jpg"><i class="rounded-x fa fa-link"></i></a></li>
										</ul>
										<div class="cbp-l-grid-agency-title">Doctor's Consulting Office </div>
										<div class="cbp-l-grid-agency-desc">Narayani's Aesthetics</div>
									</div>
								</div>
							</div>
						</div>
					</div></div>
					<div class="cbp-item graphic logos" style="width: 560px; left: 0px; top: 374px;"><div class="cbp-item-wrapper">
						<div class="cbp-caption">
							<div class="cbp-caption-defaultWrap">
								<img src="assets/img/main/narayani-aesthetics-infra3.jpg" alt="">
							</div>
							<div class="cbp-caption-activeWrap default-transparent-hover">
								<div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
										<ul class="link-captions">
											<li><a href="assets/img/main/narayani-aesthetics-infra3.jpg"><i class="rounded-x fa fa-link"></i></a></li>
										</ul>
										<div class="cbp-l-grid-agency-title">Our premises- we love nature</div>
										<div class="cbp-l-grid-agency-desc">Narayani's Aesthetics</div>
									</div>
								</div>
							</div>
						</div>
					</div></div>
					<div class="cbp-item web-design graphic" style="width: 560px; left: 580px; top: 374px;"><div class="cbp-item-wrapper">
						<div class="cbp-caption">
							<div class="cbp-caption-defaultWrap">
								<img src="assets/img/main/narayani-aesthetics-infra4.jpg" alt="">
							</div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
										<ul class="link-captions">
											<li><a href="assets/img/main/narayani-aesthetics-infra4.jpg"><i class="rounded-x fa fa-link"></i></a></li>
										</ul>
										<div class="cbp-l-grid-agency-title">Our Clinic at Saraswati Vihar, Gurugram</div>
										<div class="cbp-l-grid-agency-desc">Narayani's Aesthetics</div>
									</div>
								</div>
							</div>
						</div>
					</div></div>
				</div></div></div><!--/end Grid Container-->
			</div>



			<div class="parallax-quote parallax-quote-light parallaxBg" style="background-position: 50% -216px;">
    <div class="container">
        <div class="parallax-quote-in rounded">
            <p>What’s your skin trying to tell you? Usually, a <span class="color-green">skin-issue is reflection of deeper health problem </span> and a way for your body to warn you that all is not well underneath." <br /> <span class="color-green">Get professional help today!</span> </p>
            <small>- Dr. Preeti Yadav-</small>
        </div>
    </div>
</div>
