@page
@model narayaniaesthetics.com.web.Pages.ContactModel
@{
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Our Contacts</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Contacts</li>
        </ul>
    </div>
</div>

<div class="container margin-bottom-40 margin-top-20">
    
    <div class="row">
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14028.354610586002!2d77.0847691!3d28.4768767!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x687b79271d7a60c7!2sNarayani%E2%80%99s%20Aesthetics!5e0!3m2!1sen!2sin!4v1654180439045!5m2!1sen!2sin" 
            width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>


        <div class="col-md-6">
            <!-- Contacts -->
            <div class="headline"><h2>Contacts</h2></div>
            <ul class="list-unstyled who margin-bottom-30">
                <li><a href="#"><i class="fa fa-home"></i>House Number- 706, Saraswati Vihar, DLF Phase-1, Gurugram</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>989.9803.838 , 0124 5060 050</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i>contact@narayaniaesthetics.com</a></li>
                <li><a href="#"><i class="fa fa-globe"></i>https://narayaniaesthetics.com/</a></li>
            </ul>
            <h4><a target="_blank" href="https://wa.me/+919899803838">Connect with us via WhatsApp</a> </h4>

            <!-- Business Hours -->
            <div class="headline"><h2>Business Hours</h2></div>
            <ul class="list-unstyled margin-bottom-30">
                <li><strong>Everyday:</strong> 9AM – 1PM</li>
                <li><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> 4PM – 9PM</li>
            </ul>

            <!-- Why we are? -->
            <div class="headline"><h2>Who we are?</h2></div>
            <p>Narayani’s Aesthetics is the leading aesthetics and cosmetology centre in Gurgaon that provides world-class services with the help of ultra-modern technologies. The facility is run by award-winning aesthetic cosmetologist Dr. Preeti Yadav. Visit us for:</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-check color-green"></i> Best in class services</li>
                <li><i class="fa fa-check color-green"></i> World class tools and technology </li>
                <li><i class="fa fa-check color-green"></i> Patient friendly environment and infrastructure</li>
            </ul>
        </div>

    </div>
</div>

<div class="container content">
    <div class="row margin-bottom-30">
        <div class="col-md-12 mb-margin-bottom-30">
            <div class="headline"><h2>Get in touch with us</h2></div>
            <p>Should you have any question, please fill out the form below to reach out to us and we will respond you back as soon as possible.</p><br>

            <div class="sky-form contact-style" >
                <fieldset class="no-padding">
                    <label>Name <span class="color-red">*</span></label>
                    <div class="row sky-space-20">
                        <div class="col-md-7 col-md-offset-0">
                            <div>
                                <input type="text" name="name" id="name" class="form-control">
                            </div>
                        </div>
                    </div>

                    <label>Email <span class="color-red">*</span></label>
                    <div class="row sky-space-20">
                        <div class="col-md-7 col-md-offset-0">
                            <div>
                                <input type="text" name="email" id="email" class="form-control">
                            </div>
                        </div>
                    </div>
                    
                      <label>Mobile Number <span class="color-red">*</span></label>
                    <div class="row sky-space-20">
                        <div class="col-md-7 col-md-offset-0">
                            <div>
                                <input type="number" name="phone" id="phone" class="form-control">
                            </div>
                        </div>
                    </div>

                    <label>Message <span class="color-red">*</span></label>
                    <div class="row sky-space-20">
                        <div class="col-md-11 col-md-offset-0">
                            <div>
                                <textarea rows="8" name="message" id="message" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <br />
                    <p><button type="submit" class="btn-u">Send Message</button></p>
                </fieldset>

               
            </div>
        </div><!--/col-md-9-->

      
    </div><!--/row-->
    
</div>