@page

@using narayaniaesthetics.com.web.Pages.Shared;

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!--=== Slider ===-->
<div id="layerslider" style="width: 100%; height: 500px;">
    <!-- First slide -->
    <div class="ls-slide" style="slidedirection: right; transition2d: 92,93,105; ">
        <img src="assets/img/sliders/slider3.jpg" class="ls-bg" alt="Slide background">

        <span class="ls-s-1 " style="background: #f9e8e8;opacity:0.8;   padding:10px 20px; border-radius: 11px;box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; color: black; line-height:45px; font-weight: 200; font-size: 35px; top:370px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; ">
            World-class cosmetology services  <br> now in Gurgaon
        </span>

        @*<a class="btn-u btn-u-green ls-s-1" href="#" style=" padding: 9px 20px; font-size:25px; top:437px; left: 50px; slidedirection : bottom; slideoutdirection : bottom; durationin : 2000; durationout : 2000; ">
            Find Out More
            </a>*@

        <img src="assets/img/mockup/iphone.png" alt="Slider Image" class="ls-s-1" style=" top:30px; left: 670px; slidedirection : right; slideoutdirection : bottom; durationin : 3000; durationout : 3000; ">
    </div>
    <!-- End First slide -->
    <!-- Second Slide -->
    <div class="ls-slide" data-ls="slidedelay:6500; transition2d:25;">
        <img src="assets/img/sliders/slider2.jpg" class="ls-bg" alt="Slide background" />

        @* <img class="ls-l" src="assets/img/mockup/iphone1.png" style="top: 85%; left: 44%;"
            data-ls="offsetxin:left; durationin:1500; delayin:900; fadein:false; offsetxout:left; durationout:1000; fadeout:false;" />*@

        <span class="ls-s-1" style=" line-height: 45px; font-size:30px; color:#fff; top:300px; left: 590px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 3500; delayin : 1000;">
            One stop destination for all your <br> beauty treatment needs
        </span>

        <img src="assets/img/mockup/iphone.png" alt="Slider image" class="ls-s-1" style=" top:30px; left: 29%;" data-ls="offsetxin:left; durationin:3500; delayin:3500; fadein:false; offsetxout:left; durationout:4500; fadeout:false;">

        <a class="btn-u btn-u-orange ls-s-1" asp-page="/Services" style=" padding: 9px 20px; font-size:25px; top:390px; left: 590px; slidedirection : bottom; slideoutdirection : top; durationin : 3500; durationout : 2500; delayin : 1000; ">
            Explore our services
        </a>
    </div>

    <!-- End Second Slide -->
    <!-- Third Slide -->
    @* <div class="ls-slide" data-ls="transition2d:93;">
        <img src="assets/img/bg/img8.jpg" class="ls-bg" alt="Slide background">

        <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #fff; font-size: 24px; top:70px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 500; "></i>

        <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:70px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; ">
        Fully Responsive and Easy to Customize
        </span>

        <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #fff; font-size: 24px; top:120px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 1500; "></i>

        <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:120px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1500; ">
        Revolution and Layer Slider Included
        </span>

        <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #fff; font-size: 24px; top:170px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500; "></i>

        <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:170px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500; ">
        1000+ Glyphicons Pro and Font Awesome Icons
        </span>

        <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #fff; font-size: 24px; top:220px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 4500; durationout : 3500; "></i>

        <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:220px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 4500; durationout : 3500; ">
        Revolution and Layer Slider Included
        </span>

        <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #fff; font-size: 24px; top:270px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 5500; durationout : 4500; "></i>

        <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:270px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 5500; durationout : 4500; ">
        60+ Template Pages and 20+ Plugins Included
        </span>

        <a class="btn-u btn-u-blue ls-s1" href="#" style=" padding: 9px 20px; font-size:25px; top:340px; left: 40px; slidedirection : bottom; slideoutdirection : bottom; durationin : 6500; durationout : 3500; ">
        Twitter Bootstrap 3
        </a>

        <img src="assets/img/mockup/iphone1.png" alt="Slider Image" class="ls-s-1" style=" top:30px; left: 650px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ">
        </div>*@
    <!-- Third Slide -->
</div><!--/layer_slider-->
<!--=== End Slider ===-->

<div class="purchase">
    <div class="container overflow-h">
        <div class="row">
            <div class="col-md-6 animated fadeInLeft">
                <span>Narayani’s Aesthetics </span>
                <p>Narayani’s Aesthetics is the leading aesthetics and cosmetology centre in Gurgaon that provides world-class services with the help of ultra-modern technologies.  The facility is run by award-winning aesthetic cosmetologist Dr. Preeti Yadav.</p>

            </div>
            <div class="col-md-6 btn-buy animated fadeInRight">
                <a href="tel:+919899803838" class="btn-u btn-u-lg"><i class="fa fa-phone"></i> Call now to book an appointment</a>

                <a asp-page="Contact" class="btn-u btn-u-blue btn-u-lg"><i class="fa fa-hand-pointer-o"></i> Drop an inquiry</a>

            </div>
        </div>
    </div>
</div>

<!--=== Call to Action ===-->
@*<div class="call-action-v1 bg-color-light">
    <div class="container">
    <div class="call-action-v1-box">
    <div class="call-action-v1-in">
    <p>Narayani’s Aesthetics is the leading aesthetics and cosmetology centre in Gurgaon that provides world-class services with the help of ultra-modern technologies.  The facility is run by award-winning cosmetologist Dr. Preeti Yadav.</p>
    </div>
    <div class="call-action-v1-in inner-btn page-scroll">
    <a href="#portfolio" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">Drop an enquiry</a>
    </div>
    </div>
    </div>
    </div>*@
<!--=== End Call to Action ===-->

@(await Html.RenderComponentAsync<narayaniaesthetics.com.web.Pages.Shared.ServicesComponent>( RenderMode.ServerPrerendered ))
 

<div class="container margin-bottom-20">
    <center>
        <a class="btn btn-info btn-lg" asp-page="/Services">View All Our Services >></a>
    </center>
</div>

<div class="parallax-quote parallaxBg" style="background-position: 50% -304px;">
    <div class="container">
        <div class="parallax-quote-in">

            <p> Your <span class="color-green">skin has a memory</span>. In, few years from now, your skin will show the results of how you treated your skin today.<br /> So, <span class="color-green">treat it kindly and gently</span>. Investing in your skin today will give you a <span class="color-green">long-lasting healthy skin and confidence</span>.    </p>

            <small>- Dr. preeti Yadav -</small>
        </div>
    </div>
</div>

<div class="team-v1 bg-grey content-lg">
    <div class="container">
        <div class="title-v1">
            <h2>Meet Our Team</h2>
            <p>
                Our team includes experienced and caring professionals who share the belief that our care should be <strong>comprehensive and courteous</strong> - responding fully to your <strong>individual needs </strong>and preferences. <br>
            </p>
        </div>

        <ul class="list-unstyled row">
            <li class="col-sm-3"></li>
            <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
                <div class="team-img">
                    <img class="img-responsive" src="assets/img/team/1-DR-PREETI-YADAV-MDS-FMC3.jpg" alt="">
                    <ul>
                        <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/preeti.yadav.186"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <h3>Dr. Preeti Yadav, MDS, FMC</h3>
                <h4>/ Cosmetologist</h4>
                <p>Your friendly, and experienced aesthetic cosmetologist available to serve you.</p>
            </li>
            <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
                <div class="team-img">
                    <img class="img-responsive" src="assets/img/team/2-DR-HARSH-YADAV-MDS.jpg" alt="">
                    <ul>
                        <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <h3>Dr. Harsh Yadav, MDS</h3>
                <h4>/ Oral & Maxofacial Surgeon</h4>
                <p>Award winning doctor having more than a decade of experience is here to help you.</p>
            </li>
            <li class="col-sm-3"></li>

        </ul>
    </div>
</div>

<div class="parallax-quote parallax-quote-light parallaxBg" style="background-position: 50% -216px;">
    <div class="container">
        <div class="parallax-quote-in rounded">
            <p>What’s your skin trying to tell you? Usually, a <span class="color-green">skin-issue is reflection of deeper health problem </span> and a way for your body to warn you that all is not well underneath." <br /> <span class="color-green">Get professional help today!</span> </p>
            <small>- Dr. Preeti Yadav-</small>
        </div>
    </div>
</div>



<div class="bg-color-light">
    <div class="container content-md">
        <div class="headline-center margin-bottom-60">

            <h2>WHAT PEOPLE SAY ABOUT US</h2>
            <p>Here are few reviews and testimonial written by our customers. <a asp-page="/Contact">Write your experience with us!</a> </p>
            <center>  	  <a class="btn btn-u" target="_blank" href="https://goo.gl/maps/MffJUxNTq7YDfG9K6">View all of our Google Reviews</a>  </center>

        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="testimonials-v4 md-margin-bottom-50">
                    <div class="testimonials-v4-in">
                        <p>
                            I had severe skin problem for which I went to Narayani's' aesthetics...I was impressed by the clinic and its decor as well as highly impressed by the cleanliness and professionalism... Dr Preeti is very efficient and very polite ...She has a very light hand and the treatment she used has been very effective...
                            I will highly recommend this centre to everyone who has hair and skin problem....
                            I will revisit this centre in case of any of my skin problem....Thank you Dr Preeti!
                        </p>
                    </div>
                    <img class="rounded-x" src="assets/img/testimonials/saroj-singh.png" alt="thumb">
                    <span class="testimonials-author">
                        Saroj Singh<br>
                        @*<em>Web Developer, <a href="#">Google Inc.</a></em>*@
                    </span>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="testimonials-v4">
                    <div class="testimonials-v4-in">
                        <p>I am in my 30s and it started showing wrinkles all over my face and it also started losing elasticity of the skin. I was in search of a good aesthetic clinic and one of my friends recommended Dr. Preeti’s clinic- Narayani’s Aesthetics. I got my medi-facial done after doctor’s advice.  I feel so much benefitted after few sittings of procedure. My overall experience of the facility and the doctor was super. Thank you, Dr. Preeti, for your awesome services and treatment.</p>
                    </div>
                    <img class="rounded-x" src="assets/img/testimonials/sapna.png" alt="thumb">
                    <span class="testimonials-author">
                        Sapna<br>
                        @*<em>UX/UI Designer, <a href="#">Apple Inc.</a></em>*@
                    </span>
                </div>
            </div>


        </div>
    </div><!--/end container-->
</div>

@*<div class="container content">
<div class="row news-v2 margin-bottom-50">
					<div class="col-sm-4 sm-margin-bottom-30">
						<div class="news-v2-badge">
							<img class="img-responsive" src="assets/img/blog/why-fruits-are-important-for-your-skin.jpg" alt="">
							<p>
								<span>24</span>
								<small>Jan</small>
							</p>
						</div>
						<div class="news-v2-desc">
							<h3><a href="#">WHY FRUITS ARE IMPORTANT FOR YOUR HEALTHY SKIN</a></h3>
							<small>By Shalini | Gurugram, India <a href="#">Art</a></small>
							<p>Eating fruits helps in reducing inflammation and prevention of various kinds of infections. Are you facing skin problems like pimples, dry, or dull skin then eating fruits can help? </p>
						</div>
					</div>
					<div class="col-sm-4 sm-margin-bottom-30">
						<div class="news-v2-badge">
							<img class="img-responsive" src="assets/img/blog/why-strawberries-are-important.jpg" alt="">
							<p>
								<span>23</span>
								<small>Jan</small>
							</p>
						</div>
						<div class="news-v2-desc">
							<h3><a href="#">Blog Image Post</a></h3>
							<small>By Admin | California, US | In <a href="#">Art</a></small>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="news-v2-badge">
							<img class="img-responsive" src="assets/img/main/img4.jpg" alt="">
							<p>
								<span>22</span>
								<small>Jan</small>
							</p>
						</div>
						<div class="news-v2-desc">
							<h3><a href="#">Blog Image Post</a></h3>
							<small>By Admin | California, US | In <a href="#">Art</a></small>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
						</div>
					</div>
				</div>
                </div>

*@