@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--=== Call to Action ===-->
<div class="call-action-v1 bg-color-light">
    <div class="container">
        <div class="call-action-v1-box">
            <div class="call-action-v1-in">
                <p>Narayani’s Aesthetics is the leading aesthetics and cosmetology centre in Gurgaon that provides world-class services with the help of ultra-modern technologies.  The facility is run by award-winning cosmetologist Dr. Preeti Yadav.</p>
            </div>
            <div class="call-action-v1-in inner-btn page-scroll">
                <a href="#portfolio" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">Drop an enquiry</a>
            </div>
        </div>
    </div>
</div>
<!--=== End Call to Action ===-->

<div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>Services Offered</h2>
            <p>Avail world class  <a href="#">cosmetology and aesthetics services</a> at affordable rates. Satisfaction guaranteed!</p>
            <p>Ask your cosmetologist which procedure is best for you!</p>
        </div><!--/end Headline Center-->
        <!-- Portfolio Box -->
        <ul class="list-unstyled row portfolio-box">
            <li class="col-sm-4 md-margin-bottom-50">
                <a href="assets/img/main/img9.jpg" title="Skin tightening & Whitening" data-rel="gallery" class="thumbnail fancybox">
                    <img alt="" src="assets/img/main/img9.jpg" class="full-width img-responsive">
                    <span class="portfolio-box-in rounded-x">
                        <i class="icon-magnifier-add"></i>
                    </span>
                </a>
                <div class="headline-left margin-bottom-10"><h3 class="headline-brd">Skin Tightening & Whitening</h3></div>
                <small class="project-tag"><i class="fa fa-tag"></i><a href="#">Skin Treatment</a>, <a href="#">Skin Rejuvenation</a></small>
                <p>Our Skin Tightening and Whitening procedures are non-invasive and leave your skin intact. You will get a rejuvenated, tight and bright skin. </p>
            </li>
            <li class="col-sm-4 md-margin-bottom-50">
                <a href="assets/img/main/carbonfacial.jpg" title="Carbon and Medi Facials" data-rel="gallery" class="thumbnail fancybox">
                    <img alt="" src="assets/img/main/carbonfacial.jpg" class="full-width img-responsive">
                    <span class="portfolio-box-in rounded-x">
                        <i class="icon-magnifier-add"></i>
                    </span>
                </a>
                <div class="headline-left margin-bottom-10"><h3 class="headline-brd">Carbon and Medi Facials</h3></div>
                <small class="project-tag"><i class="fa fa-tag"></i><a href="#">Technology</a>, <a href="#">Business</a></small>
                                <p>Our Skin Tightening and Whitening procedures are non-invasive and leave your skin intact. You will get a rejuvenated, tight and bright skin. </p>

            </li>
            <li class="col-sm-4 md-margin-bottom-50">
                <a href="assets/img/main/botox.jpg" title="Botox/Fillers" data-rel="gallery" class="thumbnail fancybox">
                    <img alt="" src="assets/img/main/botox.jpg" class="full-width img-responsive">
                    <span class="portfolio-box-in rounded-x">
                        <i class="icon-magnifier-add"></i>
                    </span>
                </a>
                <div class="headline-left margin-bottom-10"><h3 class="headline-brd">Botox/Fillers</h3></div>
                <small class="project-tag"><i class="fa fa-tag"></i><a href="#">Technology</a>, <a href="#">Business</a></small>
                                              <p>Our Skin Tightening and Whitening procedures are non-invasive and leave your skin intact. You will get a rejuvenated, tight and bright skin. </p>

            </li>

             <li class="col-sm-4 md-margin-bottom-50">
                <a href="assets/img/main/hydrafacial.jpg" title="Hydra Facial" data-rel="gallery" class="thumbnail fancybox">
                    <img alt="" src="assets/img/main/hydrafacial.jpg" class="full-width img-responsive">
                    <span class="portfolio-box-in rounded-x">
                        <i class="icon-magnifier-add"></i>
                    </span>
                </a>
                <div class="headline-left margin-bottom-10"><h3 class="headline-brd">Hydra Facial</h3></div>
                <small class="project-tag"><i class="fa fa-tag"></i><a href="#">Technology</a>, <a href="#">Business</a></small>
                               <p>Our Skin Tightening and Whitening procedures are non-invasive and leave your skin intact. You will get a rejuvenated, tight and bright skin. </p>

            </li>
            <li class="col-sm-4 md-margin-bottom-50">
                <a href="assets/img/main/acnescarremoval2.jpg" title="Acne Scar removal" data-rel="gallery" class="thumbnail fancybox">
                    <img alt="" src="assets/img/main/acnescarremoval2.jpg" class="full-width img-responsive">
                    <span class="portfolio-box-in rounded-x">
                        <i class="icon-magnifier-add"></i>
                    </span>
                </a>
                <div class="headline-left margin-bottom-10"><h3 class="headline-brd">Acne Scar removal</h3></div>
                <small class="project-tag"><i class="fa fa-tag"></i><a href="#">Technology</a>, <a href="#">Business</a></small>
                                               <p>Our Skin Tightening and Whitening procedures are non-invasive and leave your skin intact. You will get a rejuvenated, tight and bright skin. </p>

            </li>
            <li class="col-sm-4 md-margin-bottom-50">
                <a href="assets/img/main/hairtransplant.jpg" title="Hair Transplant" data-rel="gallery" class="thumbnail fancybox">
                    <img alt="" src="assets/img/main/hairtransplant.jpg" class="full-width img-responsive">
                    <span class="portfolio-box-in rounded-x">
                        <i class="icon-magnifier-add"></i>
                    </span>
                </a>
                <div class="headline-left margin-bottom-10"><h3 class="headline-brd">Hair Transplant</h3></div>
                <small class="project-tag"><i class="fa fa-tag"></i><a href="#">Technology</a>, <a href="#">Business</a></small>
                                               <p>Our Skin Tightening and Whitening procedures are non-invasive and leave your skin intact. You will get a rejuvenated, tight and bright skin. </p>

            </li>


        </ul>
        <!-- End Portfolio Box -->
    </div>
<!--=== Content Part ===-->
<div class="container content">


    

    <div class="margin-bottom-10"></div>

    <!-- Service Blocks -->
    <div class="row content-boxes-v2 margin-bottom-30">
        <div class="col-md-4 md-margin-bottom-30">
            <h2 class="heading-sm">
                <a class="link-bg-icon" href="#">
                    <i class="icon-custom icon-sm rounded-x icon-bg-darker fa fa-compress"></i>
                    <span>Fully Responsive</span>
                </a>
            </h2>
            <p class="text-justify">At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-md-4 md-margin-bottom-30">
            <h2 class="heading-sm">
                <a class="link-bg-icon" href="#">
                    <i class="icon-custom icon-sm rounded-x icon-bg-darker fa fa-html5"></i>
                    <span>HTML5 + CSS3</span>
                </a>
            </h2>
            <p class="text-justify">At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-md-4">
            <h2 class="heading-sm">
                <a class="link-bg-icon" href="#">
                    <i class="icon-custom icon-sm rounded-x icon-bg-darker icon-line icon-rocket"></i>
                    <span>Launch Ready</span>
                </a>
            </h2>
            <p class="text-justify">At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div>

    <div class="row content-boxes-v2 margin-bottom-30">
        <div class="col-md-4 md-margin-bottom-30">
            <h2 class="heading-sm">
                <a class="link-bg-icon" href="#">
                    <i class="icon-custom icon-sm rounded-x icon-bg-darker icon-line icon-support"></i>
                    <span>Dedicated Support</span>
                </a>
            </h2>
            <p class="text-justify">At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-md-4 md-margin-bottom-30">
            <h2 class="heading-sm">
                <a class="link-bg-icon" href="#">
                    <i class="icon-custom icon-sm rounded-x icon-bg-darker fa fa-thumbs-o-up"></i>
                    <span>Premium Sliders</span>
                </a>
            </h2>
            <p class="text-justify">At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-md-4">
            <h2 class="heading-sm">
                <a class="link-bg-icon" href="#">
                    <i class="icon-custom icon-sm rounded-x icon-bg-darker icon-line icon-present"></i>
                    <span>FREE Updates</span>
                </a>
            </h2>
            <p class="text-justify">At vero eos et accusamus et iusto odio dignissimos ducimus. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div>
    <!-- End Service Blokcs -->
    <!-- Info Blokcs -->
    <div class="row margin-bottom-20">
        <!-- Welcome Block -->
        <div class="col-md-8 md-margin-bottom-40">
            <div class="headline"><h2>Welcome To Unify</h2></div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive margin-bottom-20" src="assets/img/main/img12.jpg" alt="">
                </div>
                <div class="col-sm-8">
                    <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
                    <ul class="list-unstyled margin-bottom-20">
                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
                        <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                        <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
                        <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                    </ul>
                </div>
            </div>

            <blockquote class="hero-unify">
                <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>
                <small>CEO, Jack Bour</small>
            </blockquote>
        </div><!--/col-md-8-->
        <!-- Latest Shots -->
        <div class="col-md-4 md-margin-bottom-20">
            <div class="headline"><h2>Latest Shots</h2></div>
            <div id="myCarousel" class="carousel slide carousel-v1">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="assets/img/main/img5.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/main/img4.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/main/img3.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div><!--/col-md-4-->
    </div><!--/row-->
    <!-- End Info Blokcs -->
    <!-- Owl Clients v1 -->
    <div class="headline"><h2>Our Clients</h2></div>
    <div class="owl-clients-v1">
        <div class="item">
            <img src="assets/img/clients4/1.png" alt="">
        </div>
        <div class="item">
            <img src="assets/img/clients4/2.png" alt="">
        </div>
        <div class="item">
            <img src="assets/img/clients4/3.png" alt="">
        </div>
        <div class="item">
            <img src="assets/img/clients4/4.png" alt="">
        </div>
        <div class="item">
            <img src="assets/img/clients4/5.png" alt="">
        </div>
        <div class="item">
            <img src="assets/img/clients4/6.png" alt="">
        </div>
        <div class="item">
            <img src="assets/img/clients4/7.png" alt="">
        </div>
        <div class="item">
            <img src="assets/img/clients4/8.png" alt="">
        </div>
        <div class="item">
            <img src="assets/img/clients4/9.png" alt="">
        </div>
    </div>
    <!-- End Owl Clients v1 -->
</div><!--/container-->
<!-- End Content Part -->
<!--/end container-->