@page
@model narayaniaesthetics.com.web.Pages.TestimonialsModel
@{
}

<div class="bg-color-light">
					<div class="container content-md">
						<div class="headline-center margin-bottom-60">
							<h1>PATIENT TESTIMONIALS</h1>

							<h2>What people say about us</h2>
							<p>Here are few reviews and testimonial written by our customers. <a href="/Contact">Write your experience with us!</a> </p>
						<center>  	  <a class="" target="_blank" href="https://goo.gl/maps/MffJUxNTq7YDfG9K6">View all of our Google Reviews</a>  </center>

							</div>

							<div class="row">
								<div class="col-sm-6">
									<div class="testimonials-v4 md-margin-bottom-50">
										<div class="testimonials-v4-in">
											<p>I had severe skin problem for which I went to Narayani's' aesthetics...I was impressed by the clinic and its decor as well as highly impressed by the cleanliness and professionalism... Dr Preeti is very efficient and very polite ...She has a very light hand and the treatment she used has been very effective...
I will highly recommend this centre to everyone who has hair and skin problem....
I will revisit this centre in case of any of my skin problem....Thank you Dr Preeti!</p>
										</div>
										<img class="rounded-x" src="assets/img/testimonials/saroj-singh.png" alt="thumb">
										<span class="testimonials-author">
											Saroj Singh<br>
										</span>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="testimonials-v4">
										<div class="testimonials-v4-in">
											<p>I am in my 30s and it started showing wrinkles all over my face and it also started losing elasticity of the skin. I was in search of a good aesthetic clinic and one of my friends recommended Dr. Preeti’s clinic- Narayani’s Aesthetics. I got my medi-facial done after doctor’s advice.  I feel so much benefitted after few sittings of procedure. My overall experience of the facility and the doctor was super. Thank you, Dr. Preeti, for your awesome services and treatment.</p>
										</div>
										<img class="rounded-x" src="assets/img/testimonials/sapna.png" alt="thumb">
										<span class="testimonials-author">
											Sapna<br>
										</span>
									</div>
								</div>


							</div>
							<br />
							<br />
						<center>  	  <a class="btn btn-u" target="_blank" href="https://goo.gl/maps/MffJUxNTq7YDfG9K6">View all of our Google Reviews</a>  </center>

						</div><!--/end container-->
					</div>