@page
@model narayaniaesthetics.com.web.Pages.HairRestoration.IndexModel
@{
}


<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Services</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Services</li>
        </ul>
    </div>
</div>


<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <h2 class="title-v2">Hair Restoration</h2>
            <p>Worried for your hair loss? Our hair restoration programs like Anti-hair loss therapy, Stem Cell Therapy, PRP Therapy, Hair Transplantation, Follicular Unit Extraction will give style and confidence back to you. Hair restoration can give you permanent, natural-looking results. </p>
 <br>
            <div class="margin-bottom-20">
                <a asp-page="../Contact" class="btn-u btn-brd btn-brd-hover btn-u-dark">Contact us</a>
                                <a href="tel:+919899803838" class="btn-u">Call now to book an appointment</a>

            </div>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/assets/img/main/5-HairRestoration.jpg" alt="">
        </div>
    </div>
</div>


<div class="bg-grey">
			<div class="container content-sm">
				<div class="text-center margin-bottom-50">
					<h2 class="title-v2 title-center">Types of Hair Restoration</h2>
					@*<p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>*@
				</div>

				<div class="row news-v1">
					<div class="col-md-4 md-margin-bottom-40">
						<div class="news-v1-in bg-color-white">
							<img class="img-responsive" src="~/assets/img/main/anti-hair-loss.jpg" alt="Anti-Hair Loss Therapy" />
							<h3 class="font-normal"><a asp-page="Anti-HairLoss-Therapy" >Anti-Hair Loss Therapy</a></h3>
							<p>You can easily find a number of people around you are facing hair loss problems. There are a range of options available today to help you stop your hair loss and gain beautiful hair back. We help you chose right procedure that may be suitable for you based on your condition and type of hair loss.
							<br />
							<br />
						</div>
					</div>
				
				

					<div class="col-md-4 md-margin-bottom-40">
						<div class="news-v1-in bg-color-white">
							<img class="img-responsive" src="~/assets/img/main/prp.jpg" alt="PRP Therapy " />
							<h3 class="font-normal"><a asp-page="PRP-Therapy" >PRP Therapy </a></h3>
							<p>Platelet-rich plasma (PRP) injections are gaining popularity for a variety of conditions, from sports injuries to hair loss. The treatment uses a patient’s own blood cells to accelerate healing in a specific area. PRP (platelet-rich plasma) therapy for hair loss is a three-step medical treatment in which a person’s blood is drawn, processed, and then injected into the scalp.</p>
							<br />
							<br />
						</div>
					</div>

						<div class="col-md-4 md-margin-bottom-40">
						<div class="news-v1-in bg-color-white">
							<img class="img-responsive" src="~/assets/img/main/hair-transplant.jpg" alt="Hair Transplantation" />
							<h3 class="font-normal"><a asp-page="Hair-Transplantation" >Hair Transplantation</a></h3>
							<p>If you're looking for a permanent solution to your hair loss, you may want to consider a hair transplant. Hair transplantation is a surgical technique that removes hair follicles from one part of the body, called the 'donor site', to a bald or balding part of the body known as the 'recipient site'. The technique is primarily used to treat male pattern baldness.</p>
							<br />
							<br />
						</div>
					</div>

				

				
				</div>

					
			</div>
		</div>
