@page
@model narayaniaesthetics.com.web.Pages.DermaPeel.IndexModel
@{
}


<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Services</h1>
        <ul class="pull-right breadcrumb">
            <li><a asp-page="../Index">Home</a></li>
            <li><a asp-page="../Services">Services</a></li>
            <li class="active">Derma Peel</li>
        </ul>
    </div>
</div>

 

<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <h2 class="title-v2">Derma Peel</h2>
            <p>Derma peel procedure is usually chemical peels that is used to remove dead and damaged skin cells, revealing healthier skin underneath.  </p>
            <p>            <p>Chemical peels are cosmetic treatments that can be used to rejuvenate your skin on face, hands, and neck areas. </p>
 <br>

 The benefits of derma-peels are:
 <ul>
	 <li>It helps to remove wrinkles and fine lines</li>
	 <li>It reduces hyperpigmentation</li>
	 <li>It treats the sun damaged skin</li>
	 <li>It fixes uneven skin tone or redness in your skin</li>
	 <li>Helps to get rid of acne scars</li>

 </ul>
 <br />
           <div class="margin-bottom-20">
                <a asp-page="../Contact" class="btn-u btn-brd btn-brd-hover btn-u-dark">Contact us</a>
                                <a href="tel:+919899803838" class="btn-u">Call now to book an appointment</a>

            </div>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/assets/img/banners/derma-peel.png" alt="Derma peel">
        </div>
    </div>
</div>


<div class="bg-grey">
			<div class="container content-sm">
				<div class="text-center margin-bottom-50">
					<h2 class="title-v2 title-center">Types of Derma Peel</h2>
					@*<p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>*@
				</div>

				<div class="row news-v1">
					<div class="col-md-4 md-margin-bottom-40">
						<div class="news-v1-in bg-color-white">
							<img class="img-responsive"  src="~/assets/img/main/insta-glow.jpg" alt="Insta Glow" />
							<h3 class="font-normal"><a asp-page="InstaGlow" >InstaGlow</a></h3>
							<p>As name suggests, insta-glow is an instant facial treatment for people who want quick results without spending much time on the treatment sessions. This procedure is also called party glow. The results of Insta-Glow Peel Facial are instantaneous and astonishing as your skin will instantly start looking gorgeous, nourished, moisturized and luminous.
 								 </p>
							<br />
							<br />
						</div>
					</div>
				
				

					<div class="col-md-4 md-margin-bottom-40">
						<div class="news-v1-in bg-color-white">
							<img class="img-responsive" src="~/assets/img/main/Radiance.jpg" alt="Radiance" />
							<h3 class="font-normal"><a asp-page="Radiance" >Radiance</a></h3>
							<p>Radiance facial treatment for giving a radiance to your skin is based on chemicals like glycolic acid and Kojic acid. It is everyone’s desire to get a soft & radiant skin that you can proudly flaunt. Radiance facial gives you that kind of confidence so that you can flaunt your beautiful skin.Our advanced Radiance treatment is efficiently useful in helping you accomplish flawless, healthy & glowing skin. </p>
							<br />
							<br />
						</div>
					</div>

						<div class="col-md-4 md-margin-bottom-40">
						<div class="news-v1-in bg-color-white">
							<img class="img-responsive" src="~/assets/img/main/pigmnet-reverse.jpg" alt="Pigment Reverse" />
							<h3 class="font-normal"><a asp-page="Pigment-Reverse" >Pigment Reverse</a></h3>
							<p>Hyperpigmentation are the patches of skin that become darker than the surrounding areas of skin. It occurs when the skin produces excess melanin, the pigment that gives skin its color. It can affect people of all skin types and ages. Our specially crafter treatment includes treatment with Jessners solution or modified Jessners and Retinol solutions that gives magical effects.</p>
							<br />
							<br />
						</div>
					</div>

					<div class="col-md-4 md-margin-bottom-40">
						<div class="news-v1-in bg-color-white">
							<img class="img-responsive" src="~/assets/img/main/anti-acne.jpg" alt="Anti-Acne" />
							<h3 class="font-normal"><a asp-page="Anti-Acne" >Anti-Acne</a></h3>
							<p>If you've tried over-the-counter (OTC or non-prescription) acne medications for several weeks and they haven't helped cure your stubborn acne, Dr Ritu Sethi can help you get rid of your acne with a range of treatment options available today. Medical procedures, such as light therapy or chemical peels, Drainage and extraction, and Steroid injection may help clear your stubborn acne. </p>
							<br />
							<br />
						</div>
					</div>

					
				</div>

					
			</div>
		</div>