@page
@model narayaniaesthetics.com.web.Pages.PermanentMakeup.IndexModel
@{
}


<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Services</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Services</li>
        </ul>
    </div>
</div>


<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <h2 class="title-v2">Permanent Makeup</h2>
            <p>Our Medical Facials and Whitening procedures will give you a rejuvenated, vibrant glow and youthful complexion. </p>
            <p>            <p>Our Medical Facials and Whitening procedures will give you a rejuvenated, vibrant glow and youthful complexion. </p>
 <br>
            <a asp-page="../Contact" class="btn-u btn-brd btn-brd-hover btn-u-dark">Send us an inquiry</a>
            <a  asp-page="../Appointment" class="btn-u">Book an appointment</a>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="assets/img/main/6-PermanentMakeup.jpg" alt="">
        </div>
    </div>
</div>


<div class="bg-grey">
			<div class="container content-sm">
				<div class="text-center margin-bottom-50">
					<h2 class="title-v2 title-center">Types of Permanent Makeup</h2>
					@*<p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>*@
				</div>

				<div class="row news-v1">
					<div class="col-md-4 md-margin-bottom-40">
						<div class="news-v1-in bg-color-white">
							<img class="img-responsive" src="assets/img/main/korean-bb-glow.jpg" alt="Korean BB Glow" />
							<h3 class="font-normal"><a asp-page="Korean-BBGlow" >Korean BB Glow</a></h3>
							<p>Aestheticians cleanse, exfoliate, extract, and deliver a variety of rejuvenating serums to your face during hydra facial sessions and bring an instant “wow factor” to brighten your skin.
							<br />
							<br />
						</div>
					</div>
				
				

					<div class="col-md-4 md-margin-bottom-40">
						<div class="news-v1-in bg-color-white">
							<img class="img-responsive" src="assets/img/main/perma-lip-blush.jpg" alt="Perm Lip Blush" />
							<h3 class="font-normal"><a asp-page="Perm-Lip-Blush" >Perm Lip Blush</a></h3>
							<p>Oxygen facial helps improve blood circulation into the skin. This helps getting rid of acne and pimples faster. Oxygen facial offers short term but visually satisfying enhancement to your skin. Repeated treatments produce long-lasting results.</p>
							<br />
							<br />
						</div>
					</div>

						<div class="col-md-4 md-margin-bottom-40">
						<div class="news-v1-in bg-color-white">
							<img class="img-responsive" src="assets/img/main/perm-brows.jpg" alt="Perm Brows" />
							<h3 class="font-normal"><a asp-page="Perm-Brows" >Perm Brows</a></h3>
							<p>Ice lift procedure involves chilling the skin that causes contraction of the blood vessels, increased blood circulation, and increased oxygen flow to the skin. The procedure soothes any inflammation due to pimple, acne or any other issues. This procedure gives you a tight and bright skin.</p>
							<br />
							<br />
						</div>
					</div>

					
					
				</div>

					
			</div>
		</div>
