@page
@model narayaniaesthetics.com.web.Pages.PermanentMakeup.IndexModel
@{
}


<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Services</h1>
        <ul class="pull-right breadcrumb">
            <li><a asp-page="../Index">Home</a></li>
            <li><a asp-page="../Services">Services</a></li>
            <li class="active">Permanent Makeup</li>
        </ul>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <h2 class="title-v2">Permanent Makeup</h2>
            <p> Permanent makeup is achieved by applying natural pigments into the dermal layer of skin. This procedure is medically recognized & is considered 100% safe. Our procedures include Korean BB Glow, Perm Lip blush, Perm Brows and many more that will give you beautiful complexion. </p>
 <br>
             <div class="margin-bottom-20">
                <a asp-page="../Contact" class="btn-u btn-brd btn-brd-hover btn-u-dark">Contact us</a>
                <a asp-page="../Appointment" class="btn-u">Book an appointment</a>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/assets/img/main/6-PermanentMakeup.jpg" alt="Permanent Makeup">
        </div>
    </div>
</div>


<div class="bg-grey">
			<div class="container content-sm">
				<div class="text-center margin-bottom-50">
					<h2 class="title-v2 title-center">Types of Permanent Makeup</h2>
					@*<p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>*@
				</div>

				<div class="row news-v1">
					<div class="col-md-4 md-margin-bottom-40">
						<div class="news-v1-in bg-color-white">
							<img class="img-responsive" src="~/assets/img/main/korean-bb-glow.jpg" alt="Korean BB Glow" />
							<h3 class="font-normal"><a asp-page="Korean-BBGlow" >Korean BB Glow</a></h3>
							<p>BB Glow is one of the latest anti-aging beauty innovations from South Korea. It’s a semi-permanent foundation for your face. 
BB Glow Facial Treatment is also sometime considered as SEMI-PERMANENT alternative to daily foundation. This treatment gives your skin a radiant, smooth look with highlighted contours, much like the results you would get on applying foundation.

							<br />
							<br />
						</div>
					</div>
				
				

					<div class="col-md-4 md-margin-bottom-40">
						<div class="news-v1-in bg-color-white">
							<img class="img-responsive" src="~/assets/img/main/perma-lip-blush.jpg" alt="Perm Lip Blush" />
							<h3 class="font-normal"><a asp-page="Perm-Lip-Blush" >Perm Lip Blush</a></h3>
							<p>Lip blushing is semi-permanent, tattooed makeup that tints your lips using a cosmetic tattoo gun and a water based ink. The result is kind of similar to lip fillers—in that your lips will look a little fuller simply by being defined and enhanced with pigment—but lip blushing won’t actually change the shape or feeling of your lips.</p>
							<br />
							<br />
						</div>
					</div>

						<div class="col-md-4 md-margin-bottom-40">
						<div class="news-v1-in bg-color-white">
							<img class="img-responsive" src="~/assets/img/main/perm-brows.jpg" alt="Perm Brows" />
							<h3 class="font-normal"><a asp-page="Perm-Brows" >Perm Brows</a></h3>
							<p>Perm Brows is a procedure that helps you get shiny, smooth eyebrows. Also sometimes called an “eyebrow perm,” the high-shine effects tend to be sought after by those who may be experiencing thinning or unruly brows. </p>
							<br />
							<br />
						</div>
					</div>

					
					
				</div>

					
			</div>
		</div>
